__pycache__
ExamplePics
@AutomationLog.txt
~$*
*.jpg
build
Screenshots/20188527.jpg
Screenshots/*.jpg
Screenshots/20188527.jpg
Screenshots/20188526.jpg
Screenshots/20188527.jpg
Screenshots/20188527.jpg
Screenshots/20188509.jpg
Screenshots/20188509.jpg
.gitignore
.gitignore
